body {
  background-image: url("Travelbackground.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  background-color: #FBF3D5;
  min-height: 80vh;
  width: 600px;
  margin: 30px auto;
  border: 3px solid white;
  border-radius: 30px;
}
h1, h2 {
  font-family: "Open Sans", sans-serif;
  color: #9CAFAA;
}
h1 {
  font-weight: bolder;
}
.container {
  display: flex;
  justify-content: space-around;
}
.completed {
  background-color: #B2B377;
}
ul, li {
  list-style-type: none;
  padding: 8px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.list {
  display: flex;
  justify-content: center;
}
input {
  border-radius: 10px;
flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: "Open Sans", sans-serif;
}
input:hover {
  background-color: #FEFDED;
  opacity: 0.8;
}
button {
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: #E8EFCF;
}
button:hover {
  opacity: 0.7;
}
